{% extends "base.html" %}
{% block content %}


<div>
  <form id="form_search" name="from_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid" align="center">
        <span class="col-md-12" align="left">
          <span class="col-md-4" style="align-items:left; text-align:left;">
            <select name='site' onchange='change_genre_options(value)'>
              <option value="all">전체사이트</option>
              <option value="wavve">Wavve</option>
              <option value="tving">Tving</option>
            </select>
            <select name='genre'>
              <option value='all'>전체장르</option>
            </select>
            <select name='strm_type'>
              <option value='all'>전체유형</option>
              <option value='kodi'>KODI</option>
              <option value='plex'>PLEX</option>
            </select>
         </span>
         <span class="col-md-6">
	  <input id="search_word" name="search_word" class="form-control form-control-sm w-50" type="text" placeholder="제목입력" aria-label="Search">
	 </span>
         <span class="col-md-2">
          {{ macros.m_button_group([['search', '검색'], ['reset_btn', '리셋']]) }}
         </span>
        </span>
       </div>
      <hr>
      <span class="col-md-12" align="center">
       <div class="row show-grid" align="center">
        <span class="col-md-6" align="left">
          {{ macros.m_button_group([['all_btn', '전체'], ['kor_btn', '국내'], ['foreign_btn', '해외']]) }}
	</span>
        <span class="col-md-6" align="right">
          {{ macros.m_button_group([['strm_all_plex_btn', 'PLEX일괄생성'], ['strm_all_kodi_btn', 'KODI일괄생성'], ['strm_all_btn', '조회항목일괄생성']]) }}
	</span>
       </div>
      </span>
    </div>
  </form>
  <div id='page1'></div>
<div>
<hr>
  <div id="list_div"></div>
  <div id='page2'></div>
</div>

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;
var current_page = 1;
var formData = null;
var country = 'all';

$(document).ready(function(){
  formData = get_formdata('#form_search');
  change_genre_options('all');
  //request_search('1');
});

$("body").on('click', '#page', function(e){
  e.preventDefault();
  request_search($(this).data('page'));
});

$("#search").click(function(e) {
  e.preventDefault();
  request_search('1');
});

$("#reset_btn").click(function(e) {
  e.preventDefault();
  document.getElementById("search_word").value = '';
  request_search('1')
});

$("body").on('click', '#all_btn', function(e){
  e.preventDefault();
  country='all';
  request_search('1');
});
$("body").on('click', '#kor_btn', function(e){
  e.preventDefault();
  country='kor';
  request_search('1');
});
$("body").on('click', '#foreign_btn', function(e){
  e.preventDefault();
  country='foreign';
  request_search('1');
});

$("body").on('click', '#file_remove_btn', function(e){
  e.preventDefault();
  code = $(this).data('code');
  document.getElementById("confirm_title").innerHTML = "경고: 파일삭제 확인";
  document.getElementById("confirm_body").innerHTML = '파일이 삭제됩니다. 진행하시겠습니까?<br>라이브러리 정보는 갱신되지 않습니다.';
  $('#confirm_button').attr('onclick', "file_remove(code);");
  $("#confirm_modal").modal();
  return;
});

function file_remove(code) {
  $.ajax({
    url: '/' + package_name + '/ajax/file_remove',
    type: "POST", 
    cache: false,
    data: {code: code},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      request_search(current_page);
    }
  });
}

function request_search(page) {
  formData = get_formdata('#form_search');
  formData += '&page=' + page;
  formData += '&country=' + country;
  current_page = page
  $.ajax({
    url: '/' + package_name + '/ajax/movie_search_popular',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      //window.scrollTo(0,0);
      make_album(data.list)
      make_page_html(data.paging)
    }
  });
}

function make_album(data) {
  current_data = data;
  str = '';
  tmp = '';
  str += m_row_start();
  for (i in data) {
    str += '<div class="col-md-2 col-sm-4 col-6">';
    str += '<div class="card mb-2 box-shadow">';
    str += '<img class="card-img-top" src="'+data[i].poster_url+'" class="img-fluid img-thumbnail">';
    str += '<div class="card-body" style="padding:2px 1px 2px 1px;">';
    str += '<p class="card-text">';
    str += '<strong>' + data[i].title + '</strong><br>';
    str += '<small class="text-muted">';
    str += '개봉: '+data[i].year+ ' / ' +data[i].runtime+ '분/'+data[i].site+'<br>';
    str += data[i].country + ' / ' +data[i].genre+ '<br>';
    str += '</small>';
    str += '</p>';
    str += '<div class="d-flex justify-content-between align-items-center" style="padding:2px 1px 2px 1px;"><br>';
    if (data[i].permission == false) {
      continue;
    } else if (data[i].drm == true) {
      tmp = m_button2('strm_create_kodi_btn', 'KODI', [{'key':'code', 'value':data[i].code}], 'info');
      btn_str = m_button_group(tmp);
    } else {
      tmp = m_button2('strm_create_plex_btn', 'PLEX', [{'key':'code', 'value':data[i].code}], 'info');
      tmp += m_button2('strm_create_kodi_btn', 'KODI', [{'key':'code', 'value':data[i].code}], 'info');
      tmp += m_button('strm_create_all_btn', 'ALL', [{'key':'code', 'value':data[i].code}]);
      btn_str = m_button_group(tmp);
    }
    str += btn_str;
    str += '<small class="text-muted"></small>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  str += m_row_end();
  document.getElementById("list_div").innerHTML = str;
}

$("body").on('click', '#strm_all_plex_btn', function(e){
  e.preventDefault();
  type = 'plex';
  create_strm_batch(type);
});

$("body").on('click', '#strm_all_kodi_btn', function(e){
  e.preventDefault();
  type = 'kodi';
  create_strm_batch(type);
});

$("body").on('click', '#strm_all_btn', function(e){
  e.preventDefault();
  type = 'all';
  create_strm_batch(type);
});

$("body").on('click', '#strm_create_kodi_btn', function(e){
  e.preventDefault();
  code = $(this).data('code');
  type = 'kodi';
  create_strm(code, type);
});

$("body").on('click', '#strm_create_plex_btn', function(e){
  e.preventDefault();
  code = $(this).data('code');
  type = 'plex';
  create_strm(code, type);
});

$("body").on('click', '#strm_create_all_btn', function(e){
  e.preventDefault();
  code = $(this).data('code');
  type = 'all';
  create_strm(code, type)
});

function create_strm(code, type) {
  $.ajax({
    url: '/' + package_name + '/ajax/create_strm',
    type: "POST", cache: false,
    data: {ctype:'popular_movie', code:code, type:type},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.data+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.data+ '</strong>', {type: 'warning'});
      }
      request_search(current_page);
    }
  });
}

function create_strm_batch(type) {
  var code_str = '';
  for (i in current_data) {
    if (type == 'all') {
      code_str += current_data[i].code;
      if (i != current_data.length) {
        code_str += ',';
      }
    } else {
      if (current_data[i].strm_type == type || current_data[i].strm_type == 'all') {
        code_str += current_data[i].code;
        if (i != current_data.length) {
          code_str += ',';
        }
      }
    }
  }
  $.ajax({
    url: '/' + package_name + '/ajax/create_strm_batch',
    type: "POST", cache: false,
    data: {ctype:'popular_movie', code:code_str, type:type},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.data+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.data+ '</strong>', {type: 'warning'});
      }
      request_search(current_page);
    }
  });
}

function change_genre_options(site) {
  if (site == "all") {
    form_search.genre.options.length = 0;
    form_search.genre.options[0] = new Option('전체장르','all');
    return;
  }
  if (site == "wavve") {
   var genres = new Array('전체장르', '드라마', '가족', '로맨스', '코미디', '액션', 'SF/판타지', '모험', '범죄', '공포/스릴러', '음악', '애니메이션', '다큐멘터리', '전쟁/재난', '스포츠', '기타', '성인', '성인+');
   //codes = new Array('all', 'mgm01', 'mgm15', 'mgm02', 'mgm03', 'mgm04', 'mgm05', 'mgm06', 'mgm07', 'mgm08', 'mgm09', 'mgm10', 'mgm11', 'mgm12', 'mgm13', 'mgm14', 'mgm90', 'mgm91');
   var codes = new Array('all', '드라마', '가족', '로맨스', '코미디', '액션', 'SF/판타지', '모험', '범죄', '공포/스릴러', '음악', '애니메이션', '다큐멘터리', '전쟁/재난', '스포츠', '기타', '성인', '성인+');
  } else if (site == "tving") {
    var genres = new Array('전체장르','드라마', '다큐멘터리', '액션', '스릴러', '판타지', '멜로/로맨스', '애니메이션', '코미디', 'SF', '공포(호러)', '범죄', '미스터리', '공연', '어드벤처', '뮤지컬', '전쟁', '서부극(웨스턴)', '사극', '가족');
    var codes = new Array('all','드라마', '다큐멘터리', '액션', '스릴러', '판타지', '멜로/로맨스', '애니메이션', '코미디', 'SF', '공포(호러)', '범죄', '미스터리', '공연', '어드벤처', '뮤지컬', '전쟁', '서부극(웨스턴)', '사극', '가족');

   //var genres = new Array( '전체장르', '드라마', '로맨스/멜로', '코미디', '액션/SF', '공포/스릴러', '애니메이션', '다큐/클래식' );
   //codes = new Array( 'all', 'MG100,MG190,MG230,MG270,MG290', 'MG130', 'MG110', 'MG120,MG170,MG180,MG220,MG260,MG200,MG210', 'MG160,MG140,MG150', 'MG240', 'MG250,MG330');
   //var codes = new Array( 'all', '드라마', '로맨스/멜로', '코미디', '액션/SF', '공포/스릴러', '애니메이션', '다큐/클래식' );
  }
  //for (i=0; i < form_search.genre.options.length; i++) {
    //form_search.genre.options[i] = null;
  //}
  form_search.genre.options.length = 0;

  for(i=0; i< codes.length; i++) {
    form_search.genre.options[i] = new Option(genres[i],codes[i]);
  }
}

</script>    
{% endblock %}
