{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '설정', true) }}
      {{ macros.m_tab_head2('auto', '자동 & 기타', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_input_textarea('jav_censored_download_path', '다운로드 폴더', desc=['Censored 영상을 다운받은 폴더입니다.', '2개 이상일 경우 , 구분자 엔터'], value=arg['jav_censored_download_path'], row='3') }}
      {{ macros.setting_input_int('jav_censored_min_size', '최소 크기', value=arg['jav_censored_min_size'], placeholder='300', desc=['메가단위']) }}
      {{ macros.setting_input_text('jav_censored_min_size_path', '최소 크기 파일 이동 폴더', desc=['최소 크기보다 작은 파일이 이용할 폴더입니다.', '빈값이면 동작하지 않습니다.'], value=arg['jav_censored_min_size_path']) }}
      {{ macros.setting_input_text('jav_censored_temp_path', '파일명 변경 실패시 이동 폴더', desc=['파일명 변경을 하지 못하는 영상 파일이 이동할 폴더입니다.', '빈값이면 동작하지 않습니다.'], value=arg['jav_censored_temp_path']) }}
      {{ macros.setting_checkbox('jav_censored_include_original_filename', '원본 파일명 포함', value=arg['jav_censored_include_original_filename'], desc=['On : 파일명 변경시 원본파일명을 포함합니다.', '내용은 같으나 품질이 다른 영상 처리시 유용합니다.']) }}
      <div id="jav_censored_include_original_filename_div" class="collapse">
      {{ macros.setting_radio('jav_censored_include_original_filename_option', '원본 파일명 형식', ['[원본파일명]', '[원본파일명(파일크기-byte숫자)]', '[원본파일명(파일크기-GB)]'], value=arg['jav_censored_include_original_filename_option']) }}
      </div>

      {{ macros.setting_input_text('jav_censored_folder_format', '기본 폴더 구조', desc=['예) {label} : 레이블 폴더에 파일 이동', '예) {label}/{code} : 레이블폴더/품번폴더 생성 후 이동', '예) 품번별/{label} 처럼 문자와 / 사용 가능', '{label} {code} {studio} {label_1}'], value=arg['jav_censored_folder_format']) }}
      {{ macros.setting_input_text('jav_censored_folder_format_actor', '배우 검색시 폴더 구조', desc=['메타검색 사용, 정식발매 영상이고 배우가 한명일 경우에만 작동할 폴더 구조입니다.', '예) 배우별/{actor}/{code} 배우별/배우폴더/품번폴더 생성 후 이동', '빈값이면 기본 폴더 구조를 사용합니다.'], value=arg['jav_censored_folder_format_actor']) }}
      {{ macros.setting_radio('jav_censored_use_meta', '메타 검색 사용', ['사용안함', '사용'], value=arg['jav_censored_use_meta'], desc=['검색시 메타데이터 플러그인 설정을 사용합니다.']) }}
      <div id="jav_censored_use_meta_off_div" class="collapse">
      {{ macros.setting_input_textarea('jav_censored_target_path', '라이브러리 폴더', desc=['Censored 영상 파일이 정리될 폴더입니다.', '2개 이상일 경우 구분자 엔터', '레이블 폴더들이 있는 폴더여야 하고 경로 마지막에 *가 있는 경우 이를 지원합니다.'], value=arg['jav_censored_target_path'], row='3') }}
      </div>
      <div id="jav_censored_use_meta_on_div" class="collapse">
        {{ macros.setting_checkbox('jav_censored_make_nfo', 'NFO 파일 생성', value=arg['jav_censored_make_nfo'], desc=['On : NFO 파일을 생성합니다.', '품번 폴더를 생성할 수 있게 폴더 구조가 {code}로 끝나야 합니다.']) }}
        {{ macros.setting_input_text('jav_censored_meta_dvd_path', '정식발매 영상 매칭시 이동 경로', desc=['정식발매 영상 매칭시 이동할 루트 폴더입니다.'], value=arg['jav_censored_meta_dvd_path']) }}
        {{ macros.setting_input_text('jav_censored_meta_ama_path', '그외 매칭시 이동 경로', desc=['그외 매칭시(아마) 이동할 루트 폴더입니다.'], value=arg['jav_censored_meta_ama_path']) }}
        {{ macros.setting_input_text('jav_censored_meta_no_path', '메타가 없을때 이동 경로', desc=['메타가 없을때 이동할 루트 폴더입니다.'], value=arg['jav_censored_meta_no_path']) }}
      </div>
    {{ macros.m_tab_content_end() }}  

    {{ macros.m_tab_content_start('auto', false) }}
      {{ macros.setting_global_scheduler_sub_button(arg['scheduler'], arg['is_running']) }}
      {{ macros.setting_input_text('jav_censored_interval', '스케쥴링 실행 정보', value=arg['jav_censored_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
      {{ macros.setting_checkbox('jav_censored_auto_start', '시작시 자동실행', value=arg['jav_censored_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
      {{ macros.m_hr() }}
      {{ macros.setting_button([['global_one_execute_sub_btn', '1회 실행']], left='1회 실행' ) }}
      {{ macros.setting_button([['global_reset_db_sub_btn', 'DB 초기화']], left='DB정리' ) }}

      {{ macros.m_hr() }}
      {{ macros.setting_input_text_and_buttons('jav_censored_filename_test', '파일명 변경 테스트', [['jav_censored_filename_test_btn', '테스트']], value=arg['jav_censored_filename_test'], desc=None) }}

    {{ macros.m_tab_content_end() }}

  </div><!--tab-content-->
  </form>
</div> <!--전체-->



<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";

$(document).ready(function(){
  use_collapse("jav_censored_include_original_filename");
  use_meta(parseInt("{{arg['jav_censored_use_meta']}}"));
});

$('#jav_censored_include_original_filename').change(function() {
  use_collapse('jav_censored_include_original_filename');
});

$('input[type=radio][name=jav_censored_use_meta]').change(function() {
  use_meta(this.value);
});

function use_meta(value) {
  if (value == 0) {
    $('#jav_censored_use_meta_on_div').collapse('hide');
    $('#jav_censored_use_meta_off_div').collapse('show');
  } else {
    $('#jav_censored_use_meta_on_div').collapse('show');
    $('#jav_censored_use_meta_off_div').collapse('hide');
  }
}

$("body").on('click', '#jav_censored_filename_test_btn', function(e){
  e.preventDefault();
  filename = document.getElementById("jav_censored_filename_test").value;
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/filename_test',
    type: "POST", 
    cache: false,
    data: {filename:filename},
    dataType: "json",
    success: function (ret) {
      m_modal(ret)
    }
  });
});

</script>    
{% endblock %}
