{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '일반', true) }}
      {{ macros.m_tab_head2('plex', 'PLEX', false) }}
      {{ macros.m_tab_head2('ktv', 'KTV', false) }}
      {{ macros.m_tab_head2('ftv', 'FTV', false) }}
      {{ macros.m_tab_head2('movie', '영화', false) }}
      {{ macros.m_tab_head2('avdvd', 'AV-DVD', false) }}
      {{ macros.m_tab_head2('avama', 'AV-AMA', false) }}
      {{ macros.m_tab_head2('etc', '기타', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
   {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.setting_global_scheduler_sub_button(arg['scheduler'], arg['is_running']) }}
    {{ macros.setting_input_text('gdrive_interval', '스케쥴링 실행 정보', value=arg['gdrive_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
    {{ macros.setting_checkbox('gdrive_auto_start', '시작시 자동실행', value=arg['gdrive_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
    {{ macros.setting_input_text('gdrive_auth_path', 'GDrive API 인증파일위치경로', value=arg['gdrive_auth_path'], desc=['GDrive API 사용설정된 인증파일(json)이 위치한 경로']) }}
    {{ macros.setting_input_text('gdrive_plex_path_rule', 'PLEX 경로변환규칙', value=arg['gdrive_plex_path_rule'], desc=['SJVA에서 구글드라이브 경로와 Plex서버상의 경로가 다를경우 사용', '형식: 로컬마운트경로|Plex 상의 경로', '예: /mnt/gdrive|P: (구글드라이브 루트가 Plex 서버에서 P:으로 매칭)']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('plex', false) }}
    {{ macros.setting_input_int('plex_scan_delay', '스캔요청 지연시간', value=arg['plex_scan_delay'], desc='바로가기생성 후 스캔명령 전송 지연 시간(초단위)') }}
    {{ macros.setting_input_int('plex_scan_min_limit', '스캔재전송제한시간(초)', value=arg['plex_scan_min_limit'], desc=['동일섹션에 대해 스캔명령을 재 전송할 최소 제한 시간','10으로 설정시 10초 내에는 동일 섹션에 스캔명령을 전송하지 않음']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('ktv', false) }}
    {{ macros.setting_input_int('ktv_meta_result_limit_per_site', '메타조회결과제한값', value=arg['ktv_meta_result_limit_per_site'], desc='메타조회시 사이트별 표시할 최대 작품 갯수') }}
    {{ macros.setting_checkbox('ktv_use_season_folder', '시즌폴더 사용', value=arg['ktv_use_season_folder'], desc='On : 작품폴더 하위에 시즌폴더가 있는 경우 프로그램을 시즌별로 등록') }}
    {{ macros.setting_input_text('ktv_shortcut_name_rule', '바로가기 이름규칙', value=arg['ktv_shortcut_name_rule'], desc=['바로가기 폴더 이름생성 규칙, 기본값: "제목 (년도)"', '지원: {title},{year},{genre},{studio}']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('ftv', false) }}
    {{ macros.setting_checkbox('ftv_use_season_folder', '시즌폴더 사용', value=arg['ktv_use_season_folder'], desc='On : 작품폴더 하위에 시즌폴더가 있는 경우 프로그램을 시즌별로 등록') }}
    {{ macros.setting_input_text('ftv_shortcut_name_rule', '바로가기 이름규칙', value=arg['ftv_shortcut_name_rule'], desc=['바로가기 폴더 이름생성 규칙, 기본값: "제목 (년도)"', '지원: {title},{year},{genre},{studio}']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('movie', false) }}
    {{ macros.setting_input_text('movie_shortcut_name_rule', '바로가기 이름규칙', value=arg['movie_shortcut_name_rule'], desc=['바로가기 폴더 이름생성 규칙, 기본값: "제목 (년도)"', '지원: {title},{year},{genre},{studio}']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('avdvd', false) }}
   {{ macros.setting_input_text('avdvd_shortcut_name_rule', '바로가기 이름규칙', value=arg['avdvd_shortcut_name_rule'], desc=['바로가기 폴더 이름생성 규칙, 기본값: "품번"', '지원: {code},{actor},{year},{genre},{studio}']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('avama', false) }}
   {{ macros.setting_input_text('avama_shortcut_name_rule', '바로가기 이름규칙', value=arg['avama_shortcut_name_rule'], desc=['바로가기 폴더 이름생성 규칙, 기본값: "품번"', '지원: {code},{title},{year},{genre},{studio}']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('etc', false) }}
   {{ macros.m_tab_content_end() }}
  </form>
</div> <!--전체-->



<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";

</script>    
{% endblock %}
