{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <form id='setting' name='setting'>
    {{ macros.setting_checkbox('use_av', 'AV 사용여부', value=arg['use_av'], desc='On : AV 사용, 저장 후 재시작시 적용됨') }}
    {{ macros.setting_checkbox('use_setting', '설정메뉴보이기', value=arg['use_setting'], desc='On : 설정메뉴 보임, Off : 설정관련 메뉴 숨김처리') }}
  </form>
</div> <!--전체-->



<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";

$(document).ready(function(){
});

</script>    
{% endblock %}
