{% extends "base_with_popper.html" %}
{% block content %}


<div>
  <form id="form_search" name="from_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid" align="center">
        <span class="col-md-12" align="left">
          <span class="col-md-6" style="align-items:left; text-align:left;">
            <select name='category'>
              <option value="all">전체경로</option>
            </select>
            <select name='genre'>
              <option value="all">전체장르</option>
            </select>
            <select name='status_option'>
              <option value="all">전체상태</option>
              <option value="true">숏컷생성</option>
              <option value="false">숏컨미생성</option>
              <option value="excluded">제외목록</option>
            </select>
         </span>
         <span class="col-md-3">
	  <input id="search_word" name="search_word" class="form-control form-control-sm w-50" type="text" placeholder="제목 or 폴더명 입력" aria-label="Search">
	 </span>
         <span class="col-md-3">
          {{ macros.m_button_group([['search', '검색'], ['reset_btn', '리셋'], ['request_modal_btn', '요청']]) }}
         </span>
        </span>
       </div>
      <hr>
    </div>
  </form>
  <div id='page1'></div>
<div>
<hr>
  <div id="list_div"></div>
  <div id='page2'></div>
</div>

<!-- Modal: 메타 검색 -->
<div class="modal fade" id="meta_search_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title">메타 데이터 검색&amp;적용</h4>
      </div>
      <div class="modal-body" id="modal_body" style="word-break:break-all;">
	<form id="meta_search_form" name="meta_search_form">
	  {{ macros.info_text('item_id', '아이템ID') }}
	  {{ macros.info_text('folder_name', '원본폴더명') }}
	  {{ macros.setting_select_empty('meta_agent_type', '에이전트유형', col='6') }}
	  {{ macros.setting_input_text_and_buttons('meta_search_word', '검색어', [['meta_search_btn', '메타검색']], desc=['제목']) }}
	</form>
	<hr>
	<div>
          {{ macros.m_hr_head_top() }}
          {{ macros.m_row_start('0') }}
          {{ macros.m_col(3, macros.m_strong('포스터')) }}
          {{ macros.m_col(4, macros.m_strong('제목/정보')) }}
          {{ macros.m_col(2, macros.m_strong('등록')) }}
          {{ macros.m_row_end() }}
          {{ macros.m_hr_head_bottom() }}
	  <div id="meta_search_result"></div>
	</div>
      </div>
      <div class="modal-footer" style="align-items:right;">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: 룰 등록 END -->

{{ macros.m_modal_start('children_info_modal', '하위폴더 파일 정보', 'modal-lg') }}
  <div>
    {{ macros.m_hr_head_top() }}
    {{ macros.m_row_start('0') }}
    {{ macros.m_col(2, macros.m_strong('유형')) }}
    {{ macros.m_col(6, macros.m_strong('파일명/ID')) }}
    {{ macros.m_col(2, macros.m_strong('사이즈')) }}
    {{ macros.m_row_end() }}
    {{ macros.m_hr_head_bottom() }}
    <div id="children_info_list"></div>
  </div>
{{ macros.m_modal_end() }}

{{ macros.m_modal_start('request_msg_modal', '자료요청하기', 'modal-lg') }}
{{ macros.setting_input_text_and_buttons('request_msg', '자료요청', [['request_msg_btn', '전송']],value='', placeholder='작품명 or 메시지(누락에피소드 등)', desc=['자료요청, 누락에피스드 요청', '작품 명이나 내용 입력후 전송', 'ID: scmanager_request']) }}
{{ macros.m_modal_end() }}

<script type="text/javascript">
var package_name = "{{arg['package_name']}}";
var str_categories = "{{arg['categories']}}";
var str_genres = "{{arg['genres']}}";
var sub = "{{arg['sub'] }}";
var current_data = null;
var current_metadata = null;
var current_page = 1;
var formData = null;
var country = 'all';
var categories = str_categories.split(',');
var genres = str_genres.split(',');

$(document).ready(function(){
  formData = get_formdata('#form_search');
  set_referrer();
  set_category_options();
  set_genre_options();
  global_sub_request_search('1', true);
});

$("body").on('click', '#page', function(e){
  e.preventDefault();
  var page = $(this).data('page')
  current_page = page
  global_sub_request_search(page, true);
});

$("#search").click(function(e) {
  e.preventDefault();
  global_sub_request_search('1', true);
});

$("#reset_btn").click(function(e) {
  e.preventDefault();
  document.getElementById("search_word").value = '';
  global_sub_request_search(current_page, true);
});

function make_list(data) {
  str = '';
  tmp = '';
  str += m_row_start();
  for (i in data) {
    str += '<div class="col-md-2 col-sm-4 col-6">';
    str += '<div class="card mb-2 box-shadow">';
    str += '<img class="card-img-top" src="'+data[i].poster_url+'" class="img-fluid img-thumbnail">';
    str += '<div class="card-body" style="padding:2px 1px 2px 1px;">';
    str += '<p class="card-text">';
    str += '<strong>' + data[i].title + '</strong> / ' + data[i].agent_type.toUpperCase() + '<br>';
    str += '<small class="text-muted">';
    str += '장르: '+data[i].genre+' / 국가: ' +data[i].country+ '<br>';
    str += '원본폴더: <a href="https://drive.google.com/drive/folders/'+data[i].folder_id+'" target="_blank">'+data[i].name+'</a><br>';
    str += '년도: '+data[i].year+ ' /사이트: '+data[i].site+'<br>';
    str += '</small>';
    str += '</p>';
    str += '<div class="d-flex justify-content-between align-items-center" style="padding:2px 1px 2px 1px;"><br>';
    if (data[i].shortcut_created == false) {
      tmp = m_button_tt('shortcut_create_btn', 'Plex추가', [{'key':'id', 'value':data[i].id}], 'info', '해당프로그램을 Plex에 추가합니다', 'down-left', 'small');
      tmp += m_button_tt('get_children_btn', '목록', [{'key':'id', 'value':data[i].id}], 'success', '하위경로파일정보확인', 'down', 'small');
    } else {
      tmp = m_button_tt('shortcut_remove_btn', 'Plex삭제', [{'key':'id', 'value':data[i].id}], 'danger', 'Plex에서 해당프로그램 삭제', 'down-left', 'small');
      tmp += m_button_tt('get_children_btn', '목록', [{'key':'id', 'value':data[i].id}], 'success', '하위경로파일정보확인', 'down', 'small');
    }
    btn_str = m_button_group(tmp);
    str += btn_str;
    if (data[i].excluded == false) {
      if (data[i].shortcut_created == false) {
        str += m_button_dd('more_action_btn', 'ⵈ', [{'btn_id':'global_json_btn', 'name':'상세정보(json)', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'info_search_btn', 'name':'메타정보검색', 'data':[{'key':'idx', 'value':i}]},{'btn_id':'divider'},{'btn_id':'add_excluded_btn', 'name':'목록에서제외', 'data':[{'key':'id', 'value':data[i].id}]}], 'primary');
      } else {
        str += m_button_dd('more_action_btn', 'ⵈ', [{'btn_id':'global_json_btn', 'name':'상세정보(json)', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'info_search_btn', 'name':'메타정보검색', 'data':[{'key':'idx', 'value':i}]},{'btn_id':'divider'},{'btn_id':'send_scan_btn', 'name':'스캔명령전송', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'refresh_plexmeta_btn', 'name':'메타데이터갱신', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'refresh_vfs_btn', 'name':'마운트캐시갱신', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'divider'},{'btn_id':'add_excluded_btn', 'name':'목록에서제외', 'data':[{'key':'id', 'value':data[i].id}]}], 'primary');
      }
    } else {
      if (data[i].shortcut_created == false) {
        str += m_button_dd('more_action_btn', 'ⵈ', [{'btn_id':'global_json_btn', 'name':'상세정보(json)', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'info_search_btn', 'name':'메타정보검색', 'data':[{'key':'idx', 'value':i}]},{'btn_id':'divider'},{'btn_id':'del_excluded_btn', 'name':'목록에추가', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'item_remove_btn', 'name':'목록에서완전삭제', 'data':[{'key':'id', 'value':data[i].id}]}], 'primary');
      } else {
       str += m_button_dd('more_action_btn', 'ⵈ', [{'btn_id':'global_json_btn', 'name':'상세정보(json)', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'info_search_btn', 'name':'메타정보검색', 'data':[{'key':'idx', 'value':i}]},{'btn_id':'divider'},{'btn_id':'send_scan_btn', 'name':'스캔명령전송', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'refresh_plexmeta_btn', 'name':'메타데이터갱신', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'refresh_vfs_btn', 'name':'마운트캐시갱신', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'divider'},{'btn_id':'del_excluded_btn', 'name':'목록에서제외', 'data':[{'key':'id', 'value':data[i].id}]},{'btn_id':'item_remove_btn', 'name':'목록에서완전삭제', 'data':[{'key':'id', 'value':data[i].id}]}],'primary');
      }
    }

    tmp = m_button_tt('global_json_btn', 'J', [{'key':'id', 'value':data[i].id}], 'success', '상세정보 확인(JSON)', 'down-left', 'small');
    tmp += m_button_tt('get_children_btn', 'F', [{'key':'id', 'value':data[i].id}], 'success', '하위경로파일정보확인', 'down-left', 'small');
    if (data[i].shortcut_created == false) {
      if (data[i].excluded == false) {
        tmp += m_button_tt('shortcut_create_btn', 'P', [{'key':'id', 'value':data[i].id}], 'info', '해당프로그램을 Plex에 추가합니다', 'down', 'small');
      }
      tmp += m_button_tt('info_search_btn', 'M', [{'key':'idx', 'value':i}], 'info', '메타정보를 조회하고 갱신합니다', 'down-right', 'small');
    } else {
      tmp += m_button_tt('info_search_btn', 'M', [{'key':'idx', 'value':i}], 'info', '메타조회 및 갱신', 'down', 'small');
      tmp += m_button_tt('shortcut_remove_btn', 'D', [{'key':'id', 'value':data[i].id}], 'danger', '프로그램 삭제', 'down', 'small');
    }
    if (data[i].excluded == false) {
      tmp += m_button_tt('add_excluded_btn', 'E', [{'key':'id', 'value':data[i].id}], 'secondary', '목록에서 제외하기', 'down-right', 'small');
    } else {
      tmp += m_button_tt('item_remove_btn', 'D', [{'key':'id', 'value':data[i].id}], 'danger', '아이템을 목록에서 삭제', 'down', 'small');
      tmp += m_button_tt('del_excluded_btn', 'E', [{'key':'id', 'value':data[i].id}], 'secondary', '목록에 추가하기', 'down-right', 'small');
    }
    str += '<small class="text-muted"></small>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  str += m_row_end();
  document.getElementById("list_div").innerHTML = str;
}

$("body").on('click', '#item_remove_btn', function(e){
  e.preventDefault();
  id = $(this).data('id');
  item_remove(id);
});

$("body").on('click', '#shortcut_remove_btn', function(e){
  e.preventDefault();
  id = $(this).data('id');
  remove_shortcut(id);
});

$("body").on('click', '#shortcut_create_btn', function(e){
  e.preventDefault();
  id = $(this).data('id');
  create_shortcut(id);
});

$("body").on('click', '#get_children_btn', function(e){
  e.preventDefault();
  id = $(this).data('id');
  get_children_info(id);
});

$("body").on('click', '#info_refresh_btn', function(e){
  e.preventDefault();
  id = $(this).data('id');
  refresh_info(id);
});

function item_remove(id) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/remove_item',
    type: "POST",
    cache: false,
    data: {'id':id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      global_sub_request_search(current_page, false);
    }
  });
}

function create_shortcut(id) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/create_shortcut',
    type: "POST",
    cache: false,
    data: {'id':id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      global_sub_request_search(current_page, false);
    }
  });
}

function get_children_info(id) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/get_children',
    type: "POST",
    cache: false,
    data: {'id':id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        var str = '';
	for (k in data.list) {
          str += m_row_start();
          str += m_col(2, data.list[k].mimeType);
          tmp = data.list[k].name + '<br>';
          if (data.list[k].mimeType == 'application/vnd.google-apps.folder') {
            tmp += '<a href="https://drive.google.com/drive/folders/' +data.list[k].id+ '" target="_blank">';
          } else {
            tmp += '<a href="https://drive.google.com/file/d/' +data.list[k].id+ '" target="_blank">';
          }
          tmp += data.list[k].id+ '</a>';
          str += m_col(6, tmp);
	  bytes = parseInt(data.list[k].size)
          str += m_col(2, get_byte_str(bytes))
          str += m_row_end();
          if (k != data.list.length -1) {str += m_hr();}
        }
	count = data.list.length;
        k = 0;
        for (k in current_data.list) {
          if (id == current_data.list[k].id) {
	    entity = current_data.list[k];
	    break;
          }
	}
	title_str = '"'+entity.title +'" 폴더내 파일정보: 파일건수('+count+' 건)';
	document.getElementById('children_info_list').innerHTML = str;
	document.getElementById('children_info_modal_title').textContent = title_str;
        $("#children_info_modal").modal();
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
    }
  });
}

function get_byte_str(bytes, decimals = 2) {
    if (bytes === 0) return '0 Bytes';
    const k = 1024;
    const dm = decimals < 0 ? 0 : decimals;
    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
    const i = Math.floor(Math.log(bytes) / Math.log(k));
    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
}

function remove_shortcut(id) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/remove_shortcut',
    type: "POST",
    cache: false,
    data: {'id':id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      global_sub_request_search(current_page, false);
    }
  });
}

$("body").on('click', '#info_search_btn', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  var data = current_data.list[idx];
  make_metasearch_select(data.agent_type);
  document.getElementById('item_id').innerHTML = data.id;
  document.getElementById('folder_name').innerHTML = data.name;
  document.getElementById('meta_search_word').value = data.title;
  request_meta_search(data.id);
  $('#meta_search_word').focus().select();
  $("#meta_search_modal").modal();
});

function make_metasearch_select(type) {
  data = [{type: "ktv", name: "국내TV"}, {type: "ftv", name: "해외TV"}, {type: "movie", name: "영화"}]
  str = '<select id="meta_agent_type" name="meta_agent_type" class="form-control form-control-sm">';
  for(var i in data) {
    if (type == data[i].type) {
      str += '<option value="' + data[i].type + '" selected>' + data[i].name + '</option>';
    } else {
      str += '<option value="' + data[i].type + '">' + data[i].name + '</option>';
    }
  }
  str += '</select>'
  document.getElementById("meta_agent_type_div").innerHTML = str;
}

$("body").on('click', '#meta_search_btn', function(e){
  e.preventDefault();
  id = document.getElementById('item_id').textContent;
  request_meta_search(id);
});

function request_meta_search(id) {
  var formData = get_formdata('#meta_search_form');
  formData += '&id='+id;
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/metadata_search',
    type: "POST",
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
	var data = data.data;
	current_metadata = data;
	var str = '';
	var tmp = '';
	for (i in data) {
          str += m_row_start();
          tmp = '<img src="'+data[i].poster_url+'" class="img-fluid img-thumbnail">';
	  str += m_col(3, tmp);
	  tmp = '제목 : <strong>'+data[i].title+'</strong><br>';
	  tmp += '점수 : '+data[i].score+'<br>';
	  //tmp += '장르 : '+data[i].genre+'<br>';
	  tmp += '국가 : '+data[i].country+'<br>';
	  tmp += '연도 : '+data[i].year+'<br>';
	  tmp += '사이트 : '+data[i].site+'<br>';
	  tmp += '스튜디오 : '+data[i].studio;
	  str += m_col(4, tmp);
	  //btn_str = m_button('apply_meta_btn', '적용', [{'key':'idx', 'value':i}]);
	  str += m_col(2, m_button('apply_meta_btn', '적용', [{'key':'idx', 'value':i}]));
          str += m_row_end();
          if (i != data.length -1) {str += m_hr();}
	}
	document.getElementById('meta_search_result').innerHTML = str;
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
    }
  });
}


$("body").on('click', '#apply_meta_btn', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  var meta = current_metadata[idx];
  id = document.getElementById('item_id').textContent;
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/apply_meta',
    type: "POST",
    cache: false,
    data: {code:meta.code, id:id, site:meta.site, title:meta.title},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: ' +data.msg+ '</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      global_sub_request_search(current_page, false);
      $("#meta_search_modal").modal('hide');
    }
  });
});



function create_shortcut(id) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/create_shortcut',
    type: "POST",
    cache: false,
    data: {'id':id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      global_sub_request_search(current_page, false);
    }
  });
}

function refresh_info(id) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/refresh_info',
    type: "POST",
    cache: false,
    data: {'id':id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      global_sub_request_search(current_page, false);
    }
  });
}

function set_referrer() {
  delete window.document.referrer;
  window.document.__defineGetter__('referrer', function () {
    return "www.daum.net";
  });
}

function set_category_options() {
  form_search.category.options[0] = new Option('전체경로', 'all');
  for (i = 0; i < categories.length; i++) {
    form_search.category.options[i+1] = new Option(categories[i],categories[i]);
  }
}

function set_genre_options() {
  form_search.genre.options[0] = new Option('전체장르', 'all');
  for (i = 0; i < genres.length; i++) {
    var g = genres[i].replace(/&amp;/g,'&'); 
    form_search.genre.options[i+1] = new Option(g,g);
  }
}

$("body").on('click', '#add_excluded_btn, #del_excluded_btn', function(e){
  e.preventDefault();
  var action = $(this).attr('id').split('_')[0];
  id = $(this).data('id');
  change_excluded(id, action);
});

function change_excluded(id, action) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/change_excluded',
    type: "POST",
    cache: false,
    data: {'id':id, 'action':action},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      global_sub_request_search(current_page, false);
    }
  });
}

$("#request_modal_btn").click(function(e) {
  e.preventDefault();
  $("#request_msg_modal").modal();
});

$("body").on('click', '#send_scan_btn,#refresh_plexmeta_btn,#refresh_vfs_btn', function(e){
  var ajax_uri = $(this).attr('id').replace('_btn', '');
  e.preventDefault();
  var id = $(this).data('id');
  do_scmbase_ajax(ajax_uri, id);
});

function do_scmbase_ajax(ajax_uri, id) {
  $.ajax({
    url: '/' + package_name + '/ajax/scmbase/'+ajax_uri,
    type: "POST",
    cache: false,
    data: {'id':id, agent_type:'movie'},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      global_sub_request_search(current_page, false);
    }
  });
}

$("body").on('click', '#request_msg_btn', function(e) {
  e.preventDefault();
  msg = document.getElementById('request_msg').value
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/msg_request',
    type: "POST", 
    cache: false,
    data:{msg:msg},
    dataType: "json",
    success: function (data) {
      if (data.ret == 'success') {
        $.notify('<strong>'+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>'+data.msg+'</strong>', {type: 'warning'});
      }
    }
  });
});

function m_button_tt(id, text, data, outline_color, tooltip='', pos='down', size='medium') {
  var str = '<button id="'+id+'" name="'+id+'" class="btn btn-sm btn-outline-'+outline_color+'" '
  if (tooltip == '') str += ' aria-label="' +text+'"';
  else str += ' aria-label="' +tooltip+'"';
  str += ' data-balloon-pos="' +pos+ '" data-balloon-length="'+size+'"';
  for ( var i in data) {
    str += ' data-' + data[i].key + '="' + data[i].value+ '" '
  }
  str += '>' + text + '</button>';
  return str;
}

</script>    
{% endblock %}
